# PROXY SERVER
PROXY_SERVER=<proxy_server:8080>
# 部品名に付与するPREFIX
PREFIX='#B-'

# A社
NEXT_PUBLIC_DEFAULT_ID_A=<ログイン・ユーザーID>
NEXT_PUBLIC_DEFAULT_PW_A=<ログイン・パスワード>
NEXT_OP_ID_A=<事業者識別子>
NEXT_OPEN_OP_ID_A=<公開事業者識別子>

# B社
NEXT_PUBLIC_DEFAULT_ID_B=<ログイン・ユーザーID>
NEXT_PUBLIC_DEFAULT_PW_B=<ログイン・パスワード>
NEXT_OP_ID_B=<事業者識別子>
NEXT_OPEN_OP_ID_B=<公開事業者識別子>

# C社
NEXT_PUBLIC_DEFAULT_ID_C=<ログイン・ユーザーID>
NEXT_PUBLIC_DEFAULT_PW_C=<ログイン・パスワード>
NEXT_OP_ID_C=<事業者識別子>
NEXT_OPEN_OP_ID_C=<公開事業者識別子>